.first{
    margin-top:3em;
}

.fir {
    border: 0.15em solid #5381cc;
}

.this{
    padding-top:1em;
    padding-bottom:3em;
    border: 0.25em solid #5381cc;
}

.scatter{
    border: 0.25em solid #5381cc;

}